<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>users</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<style>
    body{
        width: 500px;
        margin: 2rem auto;
    }
    h1{
        color: red;
    }
    h2{
        margin: 1.5rem 0 0.7rem 0;
        padding: 0;
        color: seagreen;
    }
    h3, h4{
        margin: 0.5rem 0;
        padding: 0;
        color: blue;
    }
    a{
        text-decoration: none;
        color: white;
        padding: 5px;
        border: 2px solid black;
    }
    .edit{
        background-color: blue;
    }
    .delete{
        background-color: red;
    }
    .user{
        background-color: green;
    }
</style>
<body>
<header>

</header>
<main>
    <h1>User Details</h1>
    <div>
        <h2><%= user.name %></h2>
        <h4><%= user.email %></h4>
        <h4><%= user.address %></h4>
        <h4><%= user.bio %></h4>
        <h4><%= user.hobbies %></h4>
        <a class="edit" href="/users/<%= user._id %>/edit">Edit User</a>
        <a class="delete" href="/users/<%= user._id %>/delete">Delete User</a>
        <a class="user" href="/users">go to users list</a>
    </div>
</main>
<footer>

</footer>
</body>